* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: cursive;
}
body {
  background-color: blanchedalmond;
}
header > h2 {
  color: green;
  font-size: 3rem;
  margin: 20px 0;
  cursor: pointer;
  transition: transform 5s;
}
header > h2:hover {
  transform: rotate(360deg);
}
#password {
  margin-top: 20vh;
  font-size: larger;
}
#intraction {
  width: 20%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
#pin {
  height: 6vh;
  background-color: whitesmoke;
  border: 0;
  outline: 0;
  font-size: larger;
}
#confirmbtn {
  margin: 20px auto;
  padding: 14px 50px;
  background-color: whitesmoke;
  cursor: pointer;
  font-size: medium;
  border: 0;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
#confirmbtn:hover {
  background-color: black;
  color: white;
}
#btn {
  width: 20%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
}
.numbtn {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
#resetbtn {
  background-color: transparent;
  cursor: pointer;
  font-size: medium;
  border: 0;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
#getuser-btn {
  margin-top: 30px;
  padding: 30px 60px;
  border: 0;
  background-color: green;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50%;
}
#getuser-btn:hover {
  background-color: white;
  color: black;
}
#container {
  padding: 30px 100px 50px;
  min-width: 25vw;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 120px 0px;
  line-height: 2;
}
.dob {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-transform: capitalize;
}
.mail,
.usepass,
.ctcode,
.stco {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.img-div {
  border: 12px solid blanchedalmond;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: -120px auto 40px;
}
.img-div img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.img-div img:hover {
  scale: 1.2;
}
